<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Tweet">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<title>Anne Lewis Strategies Challenge</title>
	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script><!-- load jquery -->
	<script src="core.js"></script>
</head>

<!-- SET THE CONTROLLER AND GET ALL ORDERS WITH INITIALIZE FUNCTION -->
<body ng-controller="mainController">
	<div ng-repeat="tweet in tweets | limitTo:-50">
		<div class="row">
			<div class="col-sm-8 col-sm-push-2">
				<div>
					<div class="col-sm-1"><img src="{{ tweet.profile_image_url }}"/></div>
					<div class="col-sm-2"><strong>{{ tweet.name }}</strong></div>
					<div class="col-sm-2"><a href="https://twitter.com/teacher2teacher">@{{ tweet.screen_name }}</a></div>
				</div>
				<div class="row">
					<div class="col-sm-11 col-sm-push-1">{{ tweet.text }}</div>
				</div><br>
				<div class="row">
					<div class="col-sm-3 col-sm-push-9">{{ tweet.date }}</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</body>
</html>